{% extends 'admin/base.html.twig' %}

{% block title %}Les Grand-Prix{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des Grand-Prix</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pays</th>
                    <th>Date</th>
                    <th>Carte</th>
                <!--    <th>Chronos</th> !-->

                    <th>Description</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for grandprix in pagination.data %}
                    <tr>
                        <td>{{grandprix.id}}</td>
                        <td>{{grandprix.title}}</td>
                        <td>{{grandprix.date | date("d/m/Y")}}</td>
                        <td>{{grandprix.map}}</td>       
                        <td>{{grandprix.description}}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_grandprix_edit', {'id':grandprix.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_grandprix_delete', {'id':grandprix.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
